.navbar-nav,
.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: center;
}

nav {
  background-color: blue;
  margin-bottom: 20px;
}

.navbar-nav li {
  margin-left: 30px;
  transition: all 0.3s;
}
.navbar-nav li a {
  color: white !important;
}
.navbar-nav li:hover {
  /* background-color: #3498db; */
  border-radius: 5px;
}

.dropdown-menu {
  background: black;
}

.department-heading:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: salmon;
}
figure img {
  margin: 0 auto;
  display: block;
  transition: all 1s;
  max-width: 100%;
}

figure img:hover {
  transform: scale(1.1);
}

ul li {
  margin-top: 20px !important;
}

/* // carousel */
.dropdown-item:hover {
  background-color: rgb(73, 62, 62);
}
